{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/catalog/catalog.css' %}" />
{% endblock %}

{% block title %}Каталог{% endblock %}

{% block content %}
<h1>Каталог техники</h1>

<div class="cards-wrapper">
    {% for category in categories %}
    <div class="card">
        <a title="{{category.title}}" href="{% url 'catalog-category' category.id %}?page=1" class="card__title">
            <img class="card__preview" alt="{{category.title}}" src="{% static category.image.url %}" />
            {{ category.title }}
        </a>
        
        <div class="card__content">
            {% for type in category.subcategory_set.all %}
            <a class="card__content__item" title="{{type.title}}" href="{% url 'catalog-category' category.id %}?page=1&subcategory={{ type.id }}">
                {{type.title}}
            </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}