{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/catalog/product.css' %}" />
{% endblock %}

{% block title %} {{ product.title }} {% endblock %}

{% block content %}
{% include 'components/popups/product_order_popup.html' with product=product %}

<h1>{{ product.title }}</h1>

<div class="product-card">
    <img class="product-card__preview" title="{{ product.title }}" alt="{{ product.title }}"
        src="{% static product.preview.url %}" />
    <div class="product-card__info">
        <div class="product-card__availability">
            {% if product.is_available %}
            В наличии
            {% else %}
            Нет в наличии
            {% endif %}
        </div>
        {% if product.price %}
        <div class="product-card__price__wrapper">
            <p class="product-card__price">от {{ product.price }} руб</p>
            <p class="product-card__price-hint">Цена варьируется в зависимости от региона нахождения, комплектации и
                курса ЦБ</p>
        </div>
        {% endif %}

        {% if product.is_available %}
        <div class="product-card__actions">
            <button class="button__order" data-popup="product_order_popup">Заказать</button>
            <button class="button__lising" data-popup="product_order_popup">В лизинг</button>
        </div>
        {% endif %}

    </div>
</div>

<div class="product-card__description">
    <h3 class="product-card__description__label">Описание:</h3>
    <p class="product-card__description__content">{{ product.description }}</p>
</div>

<div class="content-details">
    <h2>Технические характеристики {{ product.title }}</h2>
    <table class="details-table">
        <thead>
            <tr>
                <th>Характеристика</td>
                <th>Значение</td>
            </tr>
        </thead>
        <tbody>
            {% for k, v in product.details.items %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}