{% extends 'base.html' %}

{% block title %} Вход в личный кабинет {% endblock %}

{% block content %}

<div class="auth">
    <h1 class="margin-bottom-3 text-center">Вход в личный кабинет</h1>

    {% include 'components/forms/sign_in_form.html' %}

    <div class="flex-row justify-between">
        <p class="margin-top-3">Нет профиля? <a href="{% url 'sign-on' %}" class="active-link">Зарегистрироваться</a>
        </p>
        <button class="popup__done" onclick="window.utils.submitForm('sign_in_form')">Войти</button>
    </div>
</div>

{% endblock %}